.tituloIndex{
    background-color: rgb(22, 106, 128);
    background-position: center;
}
.h2Index{
    background-color: wheat;
}
.h3Otros{
    background-color: wheat;
}
.bgFooter{
    background-color: rgb(243, 123, 83);
}
.sectionIndex{
    background-image: url(https://i.pinimg.com/originals/f8/20/21/f82021fe82d2cad99a2d27ba04b42a7e.png);
}
.tabla{
    background-color: $blanco;
}
.icono{
    background-color:rgb(243, 123, 83);
}
.ul{
    background-color: $blanco;
}