.tituloIndex{
    border: 15px;
    border-color: rgb(2, 32, 29);
    border-style: solid;
}
.h2Index{
    border: dotted;
    border-color: rgb(236, 172, 52);
}
.h3Otros{
    border: dotted;
    border-color: rgb(236, 172, 52);
}
.ul{
    border-style: dashed;
    border-color:rgb(50, 199, 174);
}