$small:15px;
$medium:20px;
$large:25px;
$xLarge:30px;

.tituloIndex{
    font-size: $xLarge;
}
.h2Index{
    font-size: $medium;
}
.pFooter{
    font-size: $small;
}
th{
    font-size: $large;
}
td{
    font-size: $medium;
}
.ul{
    font-size:$small;
}
.h3Otros{
    font-size: $medium;
}